In [46]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

#SQL Alchemy
from sqlalchemy import create_engine

import pymysql
pymysql.install_as_MySQLdb()

In [48]:
# Create Engine and PAss in MySQL Connection
# Components
#<Dialect>://<Username>:<Password>@<Host Address>:<Port>/<Database>
str_conn = 'mysql://root:Flcl1@34@localhost/test'
engine = create_engine(str_conn)
conn = engine.connect()

ice_cream = engine.execute("SELECT * FROM ice_cream")
best_ice_cream = engine.execute("SELECT Flavor, MAX(Rating) FROM ice_cream")
multiple_best = engine.execute("SELECT * FROM ice_cream WHERE rating IN (SELECT MAX(rating) FROM ice_cream)")

C:\Users\JBTD9\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\pymysql\cursors.py:165: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

In [42]:
for flavors in ice_cream:
    print(flavors)

('Vanilla', 70, Decimal('1.2500'))
('Chocolate', 90, Decimal('1.7500'))
('Mint', 80, Decimal('1.2500'))
('Pistachio', 40, Decimal('1.6000'))
('Neopolitan', 85, Decimal('1.2500'))
('Cookie Dough', 100, Decimal('2.0000'))

In [43]:
for ratings in best_ice_cream:
    print(ratings)

('Vanilla', 100)

In [45]:
for ratings in multiple_best:
    print(ratings)

('Cookie Dough', 100, Decimal('2.0000'))

In [51]:
data = pd.read_sql("SELECT * FROM ice_cream", conn)
data

         Flavor  Rating  Price
0       Vanilla      70   1.25
1     Chocolate      90   1.75
2          Mint      80   1.25
3     Pistachio      40   1.60
4    Neopolitan      85   1.25
5  Cookie Dough     100   2.00

In [52]:
# Dependencies
# ----------------------------------
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

from sqlalchemy import Column, Integer, String, Float

# Create Dog and Cat Classes
# ----------------------------------
class Dog(Base):
    __tablename__ = 'dog'
    id = Column(Integer, primary_key=True)
    name = Column(String(255))
    color = Column(String(255))
    age = Column(Integer)

class Cat(Base):
    __tablename__ = 'cat'
    id = Column(Integer, primary_key=True)
    name = Column(String(255))
    color = Column(String(255))
    age = Column(Integer)

# Create a Specific Instance of the Dog and Cat classes
# ----------------------------------
dog = Dog(name='Fido', color='Brown', age=4)
cat = Cat(name="Hissy", color="Gray", age=7)

# Create Database Connection
# ----------------------------------
engine = create_engine('mysql://root:mypassword@data-bootcamp-rutgers.cn6jzamkgcqr.us-west-2.rds.amazonaws.com:3306/pets')
conn = engine.connect()

# Create a "Metadata" Layer That Abstracts our SQL Database
# ----------------------------------
Base.metadata.create_all(engine)

# Create a Session Object to Connect to DB
# ----------------------------------
from sqlalchemy.orm import Session
session = Session(bind=engine)

# Add Records to the Appropriate DB
# ----------------------------------
session.add(dog)
session.add(cat)
session.commit()

# Query the Tables
# ----------------------------------
dog_list = session.query(Dog)
for doggy in dog_list:
    print(doggy.name)

cat_list = session.query(Dog)
for kitty in cat_list:
    print(kitty.name)

Ahmed
Ahmed
Fido
Fido
Fido
Fido
Fido
Fido
Fido
Fido
Fido
Fido
Ahmed
Ahmed
Fido
Fido
Fido
Fido
Fido
Fido
Fido
Fido
Fido
Fido